KPM_BIND_ADDRESS=127.0.0.1
KPM_HTTP_PORT=8080

# Docker default:
KPM_DATA_PATH=/manager/data
KPM_DB_FILENAME=kpm.db

KPM_STEAM_APP_ID=1623730

KPM_PALWORLD_ROOT=/pal/Package

KPM_PALWORLD_GAME_PORT=8211
KPM_PALWORLD_QUERY_PORT=27015
KPM_PALWORLD_REST_PORT=8212
KPM_PALWORLD_STOP_TIMEOUT_MS=30000